.App {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputBlock {
  padding: 1rem;
}


.gradientForm input {
  width: 70%;
  padding: 10px;
  margin-top: 20px;
}

.gradientForm button {
  padding: 15px;
  width: 70%;
  background-color: rgba(195, 182, 246, 1);
  border: none;
  border-radius: 2px;
}
ul {
  padding: 0;
}
ul div.gradientBlock {
  width: 70%;
  position: relative;
}
.gradientBlock button {
  border-radius: 50%;
  background-color: rgba(86, 50, 231, 1);
  color: #ffffff;
  border: none;
  position: absolute;
  left: 96%;
  bottom: 89%;
}
